---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

interface Props {
  title?: string;
  description?: string;
  image?: string | ImageMetadata;
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <title>{title} | {SITE_TITLE}</title>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body
    class="bg-brand-light text-slate-900 transition-colors duration-200 ease-linear dark:bg-brand-dark dark:text-slate-100"
  >
    <Header />
    <main class="mx-auto max-w-screen-2xl px-4 pb-16 pt-24 sm:px-6 lg:px-8">
      <slot />
    </main>
    <Footer />
  </body>
  <noscript>
    <style>
      .js-required {
        display: none !important;
      }
      .js-missing {
        display: block !important;
      }
    </style>
  </noscript>
  <Analytics />
  <SpeedInsights />
</html>
